@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFDF5;
  --foreground: #004225;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #002917;
    --foreground: #F5F5DC;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
